<h1>Listing users</h1>

<% if notice %>
	<p id="notice"><%= notice%></p>
<%end%>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Job</th>
    <th>Country</th>
    <th>Organization</th>
    <th>Faculty</th>
    <th>Mail</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td style="width: 180px; max-width: 150px; overflow: hidden"><%= user.name %></td>
    <td style="width: 40px; max-width: 40px; overflow: hidden"><%= user.job %></td>
    <td style="width: 40px; max-width: 50px; overflow: hidden"><%= user.country %></td>
    <td style="width: 115px; max-width: 150px; overflow: hidden"><%= user.organization %></td>
    <td style="width: 40px; max-width: 40px; overflow: hidden"><%= user.faculty %></td>
    <td style="width: 170px; max-width: 170px; overflow: hidden"><%= user.mail %></td>
    <td bgcolor="yellow"><%= link_to 'More Details', user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
