<!DOCTYPE html>
<html>
<head>
<style>
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:brown;}   /* mouse over link */
a:active {color:#00F0FF;}  /* selected link */
a {text-decoration: none}
a:hover img {
border: none !important;
display: block;
}
</style>
</head>
<div id="main">
<h2 style="text-align: center"> Submission </h2>>
<div id = "centered">
<p>
<h1>List of Paper You have submited</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Auth1</th>
    <th>Paper Approval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @papers.each do |paper| %>
  <tr>
    <td><%= paper.title %></td>
    <td><%= paper.abstract %></td>
    <td><%= paper.auth1 %></td> 
    <% if paper.acceptance == nil %>
    <td style="text-align: center; color: red">Pending</td>
    <% elsif paper.acceptance %>
    <td style="text-align: center; color: green">Accepted</td>
    <% elsif !paper.acceptance %>
    <td style="text-align: center; color: red">Refused</td>
    <% end %>
    <td><%= link_to 'Show', paper %></td>
    <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
    <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paper', new_paper_path %>
</p>

</div>
</div>