<h2 style="text-align: center"> Submission </h2>>
<div id = "centered">
<p>
<h1>List of Paper You have submited</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Auth1</th>
    <th>Paper Approval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @papers.each do |paper| %>
  <tr>
    <td><%= paper.title %></td>
    <td><%= paper.abstract %></td>
    <td><%= paper.auth1 %></td>
    <% if paper.acceptance == nil %>
    <td style="text-align: center; color: red">Pending</td>
    <% elsif paper.acceptance %>
    <td style="text-align: center; color: red">Accepted</td>
    <% elsif !paper.acceptance %>
    <td style="text-align: center; color: red">Refused</td>
    <% end %>
    <td><%= link_to 'Show', paper %></td>
    <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
    <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paper', new_paper_path %>
</p>


</div>