<h1>Listing papers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Auth1</th>
    <th>Auth2</th>
    <th>Auth3</th>
    <th>Auth4</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @papers.each do |paper| %>
  <tr>
    <td><%= paper.title %></td>
    <td><%= paper.abstract %></td>
    <td><%= paper.auth1 %></td>
    <td><%= paper.auth2 %></td>
    <td><%= paper.auth3 %></td>
    <td><%= paper.auth4 %></td>
    <td><%= link_to 'Show', paper %></td>
    <% if @current_user.user_status == "307"%>
    <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
    <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if @current_user.user_status == "307"%>
<%= link_to 'New Paper', new_paper_path %>
<% end %>
