<h1>Editing auser</h1>

<%= form_for(@auser) do |f| %>
  <% if @auser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auser.errors.count, "error") %> prohibited this auser from being saved:</h2>

      <ul>
      <% @auser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <fieldset>
  <legend>Enter User Details</legend>

  <div>
    <%= f.label :Username %>:
    <%= f.text_field :username, size: 40 %>
  </div>
    <div>
    <%= f.label :password, 'Old Password' %>:
    <%= f.password_field :password, size: 40 %>
  </div>

  <div>
    <%= f.label :password, 'New Password' %>:
    <%= f.password_field :password, size: 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm New Password' %>:
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <div>
    <%= f.submit %>
  </div>

  </fieldset>
<% end %>

<%= link_to 'Show', @auser %> |
<%= link_to 'Back', ausers_path %>
