<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @auser.username %>
</p>

<p>
  <b>Password digest:</b>
  <%= @auser.password_digest %>
</p>


<%= link_to 'Edit', edit_auser_path(@auser) %> |
<%= link_to 'Back', ausers_path %>
