<!DOCTYPE html>
<html>
<head style = "text-align:center">
  <title>Conference</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h1 style="text-align: center">veterinary Conference</h1>
    <% if session[:user_id]%>
  	<h3><li>logging: (<%= User.find(session[:user_id]).name%>)   <%= link_to "Log out", logout_path, :method => "delete"%></li> </h3> 
  	<%else%>
  	<%= link_to "Sign in", login_path%>
  <%end%>
  
<style type="text/css">
#wrapper {  
    width: 600px;  
}  
  
#img {  
    float: right;  
    margin: 10px;  
    background: white;  
    width: 180px;  
    height: 180px;  
}  
  
#header {  
    background: #cdcdcd;  
}  
  
#sidebar {  
    float: left;  
    width: 150px;  
    background: #ee0;  
    margin: 10px;  
}  
 
#wrap { 
  width: 750px; 
  margin: 0 auto; 
}
</style>
</head>
<div id="wrap">
	<p style="text-align: center">
	<%= image_tag(@photo, :width => '800', :height => '500')%>
	</p>
<div id="wrapper">  
      
  
<div id="sidebar">
	<font size="4"><br />&nbsp&nbsp<%= link_to "Home", conf_home_path%> </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "Register", conf_register_path%> </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "Contact Us", conf_contact_path%>  </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "Submission", conf_submit_path%>  </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "About Us", conf_about_path%> </font> <br /><br />
		<p style="text-align: center">
	<%= image_tag(@photo, :width => '120', :height => '200')%>
	</p>
	</div>  
  
</div> 


<body style="text-align: 'center'">

<%= yield %>
</div>

</body>
</html>
