<!DOCTYPE html>
<html>
<head style = "text-align:center">

  
<style type="text/css">
#wrapper {  
    width: 600px;  
}  
  
#img {  
    float: right;  
    margin: 10px;  
    background: white;  
    width: 180px;  
    height: 180px;  
}  
  
  
#sidebar {  
    float: left;  
    width: 150px;  
    background: #ee0;  
    margin: 10px;  
}  
 
#wrap { 
  width: 1000px; 
  margin: 0 auto; 
}

            #container {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;


  background: url('/images/brown1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

            }
html,body{ margin:0; padding:0; height:100%; width:100%; }
#full-size{
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */

}


#header {
width:100%;
margin:0 auto 10px;
border:1px solid #ccc;
background-image:url('/images/bck.jpg');

}

</style>

<div id="wrap">
	<div id="container">
<div id="full-size">	
<div id="header">
  <br /><title>Conference</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h1 style="text-align: center">veterinary Conference</h1> <br />
  </div>
    <% if session[:user_id]%>
  	<h3><li>logging: (<%= User.find(session[:user_id]).name%>)   <%= link_to "Log out", logout_path, :method => "delete"%></li> </h3> 
  	<%else%>
  	<%= link_to "Sign in", login_path%>
  <%end%>
  
</head>


	<br />
	<p style="text-align: center">
	<%= image_tag(@photo, :width => '690', :height => '440')%>
	</p>
<div id="wrapper">  
      
  
<div id="sidebar">
	<font size="4"><br />&nbsp&nbsp<%= link_to "Home", conf_home_path%> </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "Register", conf_register_path%> </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "Contact Us", conf_contact_path%>  </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "Submission", conf_submit_path%>  </font><br /><br />
	<font size="4">&nbsp&nbsp<%= link_to "About Us", conf_about_path%> </font> <br /><br />
		<p style="text-align: center">
	<%= image_tag(@photo, :width => '120', :height => '200')%>
	</p>
	</div>  
  
</div> 


<body style="text-align: 'center'">

<%= yield %>
</div>
</div>
</div>
</body>
</html>
