<!DOCTYPE html>
<html>
<head style = "text-align:center">

<style type="text/css">
 
 ul.a {
    list-style-type: circle;
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}
 
 #nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; 
      width: 12.5%;  /* (100 / numItems)% */
     }
  #nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  
  border-bottom: solid thin #888;
  border-left: solid thin #888;
 
}    
   #nav li a {
      display: block;
      padding: 10px;
      
      text-decoration: none;
      text-align:center;
      font-weight: bold;
      font-size:medium;
      color: #069;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #c00;
      background-color: #fff; }


#nav li ul {
	display: none;  
	}
#nav li:hover ul, #navbar li.hover ul {
	position: absolute;
	display: block;
	width: inherit;
}
#nav {
  display: table;
  table-layout: fixed;
}

#ul {
  display: table-row;
}

#ul li {
  display: table-cell;
}
 
   /* End navigation bar styling. */
   
   /* This is just styling for this specific page. */
   body {
      background-color: #555; 
      font: medium Arial, Helvetica, sans-serif; }
   #wrap {
      width: 1200px;
      margin: 0 auto;
      background-color: #fff; }
   h1 {
      font-size: 1.5em;
      font-style:oblique;
      padding: 1em 8px;
      text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 70px #ffffff, 0 30px 90px #ffffff, 0 0 110px #ffffff, 0 0 200px #ffffff;
      color: #FFFFFF;
 
      margin: 0; }
   #content {
      padding: 0 50px 50px; } 
 
 
 



#container {
 width: 103%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden; 
  background: #FFFFFF; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#header {
width:100%;

background: url('/images/cairoriv2.jpg') no-repeat;
    background-size: 1250px 320px;
    background-repeat: no-repeat;

}

#main {
float:left;
width:700px;
padding:5px;
margin: 30px;
}

#sidebar {
	
float:right;

width:270px;
height:500px;
margin:  40px 20px;


background:#FFFFFF;
box-shadow: 0px 1px 3px 1px rgba(8,156,255,1);
}



#footer {
clear:both;
padding:8px 10px;
background: #006699;	
border:1px solid #FFFFFF;
}

#back {
	background: #9ab8d9;
}




/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Common */
html, body {
	background:#eaeaea url(../img/bg.png) repeat;
	font-size:12px;
	font-family:"Open Sans", serif;
	min-width:960px;
	margin:0;
	padding:0;
	color:#aaa;
}

.content h1 {
	font-size:48px;
	color:#000;
	text-shadow:0px 1px 1px #f4f4f4;
	text-align:center;
	padding:60px 0 30px;	
}

/* LAYOUT */
.container {
	margin:0 auto;
	overflow:hidden;
	width:960px;
}




</style>
</head>

  

<div id="back">
<div id="wrap">
<div id="container">
	
<div id="header">
  <br /><title>Conference</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <h1 style="text-align: center;color: #000000 "><font size="5" face="Garamond"> 	1st ANNUAL C.L. DAVIS MIDDLE EASTERN DIVISION  </font></h1>
  <br />
  <h1 style="text-align: center;color: #000000 "><font size="5" face="Garamond">  DIAGNOSTIC PATHOLOGY SYMPOSIUM:</font></h1> 
<br />  <h1 style="text-align: center;color: #000000 "><font size="5" face="Garamond">  PATHOLOGY OF DOMESTIC AND LABORATORY ANIMALS</font></h1> 

<br />  <h1 style="text-align: center;color: #000000 "><font size="4" face="Monaco" style="background: #F2F2F2"><b> <u> 
	   Symposium:  21-24 March 2015
</b></u></font></h1>
<br />  <h1 style="text-align: center;color: #000000 "><font size="4" face="Monaco"style="background: #F2F2F2"><b> <u>
       Conference: 25-27 March 2015
 </b></u></font></h1> 
<br />  <h1 style="text-align: center;color: #000000 "><font size="4" face="Garamond">  Mövenpick Hotel Cairo Pyramids</font></h1> <br />
  </div>
 <center> 
<ul id="nav">
  <li><a href=/conf/home>Home</a></li>
  <li><a href>Program</a>
     <ul>
     	 <a href=/conf/symposium_prog>Symposium</a>
         <a href=/conf/conf_prog>Conference </a>
     </ul>
     </li>
  <li><a href=/conf/register>Register</a></li>
  
  <li><a href=/conf/submit>Submit</a></li>
  <li><a href=/conf/venue>Venue</a></li>
  
  <li><a href>Previous Event</a>
     <ul>
     	 <a href=/conf/album>&nbsp&nbsp&nbspAlbums&nbsp&nbsp&nbsp&nbsp</a>
         <a href=/conf/proceeding>&nbsp&nbsp&nbspProceeding&nbsp&nbsp&nbsp </a>
     </ul>
  </li>
  <li><a href=/conf/contact>Contact</a></li>
  <li><a href=/conf/about>About</a></li>
</ul>

</center>  




    <br />
  <% if session[:user_id]%>
  	<h3><li>logging: (<%= User.find(session[:user_id]).name%>)   <%= link_to "Log out", logout_path, :method => "delete"%>|<%= link_to "Settings", User.find(session[:user_id])%></li> </h3>
	  	<% if (User.find(session[:user_id]).admin)%>
	  		<li><%= link_to "Admin DashBoard", new_admin_user_session_path%></li>
	  	<% elsif (User.find(session[:user_id]).officer)%>
	  		<li><%= link_to "List of Papers", papers_path%></li>
	  	<% end %> 
  	<%else%>
  	&nbsp&nbsp&nbsp&nbsp &nbsp<font size="3"> <%= link_to "Sign in", login_path%> </font> 
  <%end%>
 <p id="notice"><%= notice %></p> 


<div id="sidebar">
	<br />
	<p><h1 style="text-align: left;color: #000000 "><font size="5" face="Garamond">
		&nbsp&nbsp&nbspImportant Dates

	</h1></p>
<br />
  &nbsp&nbsp&nbsp  <img src="/images/Calendar2.jpg" width="200" height="200">

<h1 style="text-align: center;color: #000000 "><font size="4" face="Garamond">
 <li> &nbspSubmission Deadline <br /> </li>
   <font color="blue">&nbsp&nbsp&nbsp1 March 2015 </font>
  </h1>
<br />
<h1 style="text-align: center;color: #000000 "><font size="4" face="Garamond">
 <li> &nbspSymposium &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br /> </li>
  <font color="blue"> &nbsp&nbsp&nbsp21-24 March 2015 </font>
  </h1>
  <br />
  <h1 style="text-align: center;color: #000000 "><font size="4" face="Garamond">
 <li> &nbspConference &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br /> </li>
   <font color="blue">&nbsp&nbsp&nbsp25-27 March 2015 </font>
  </h1>
</div>






<%= yield %>
<div id="footer">
 <center>
 <font size="4" color=#FFFFFF style="italic"> © 2015 Faculty of Veterinary Medicine, Cairo University</font>
</center>
</div>



</div>
</div>
</div>
</html>



















